body{
    overflow-x: hidden;
}
#calendar
{
	margin: auto;
}
.no-margin{
    margin: 0;
}
.nextBtn,.prevBtn{
    cursor: pointer;
}

div label input {
   margin-right:100px;
}
body {
    font-family:sans-serif;
}
.delivery-type-container{
    position: relative;
    top: 10px;
}
#gi-btn{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#pi-btn{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#pi-btn,#gi-btn {
    background-color:#EFEFEF;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}
#pi-btn label,#gi-btn label{
    float:left;
    width:4.0em;
    margin-bottom: 0px;
}

#pi-btn label span,#gi-btn label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}
.action-icon{
    margin: 8px;
}

#pi-btn label input,#gi-btn label input {
    position:absolute;
    top:-20px;
    visibility: hidden;
}

#pi-btn input:checked + span,#gi-btn input:checked + span{
    background-color:#777;
    color:#fff;
}
.header-container{
    padding: 8px 0;
}

.view-change-container {
     list-style-type:none;
     padding:0;
     position: relative;
     top:13px;
}

.view-change-container li {
    float:left;
    margin:0 0px 0 0;
    width:50px;
    height:33px;
    position:relative;
    text-align:center;
}

.view-change-container label, .view-change-container input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;  
    margin-bottom: 3px; 
}
.dayView{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.wkView{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.view-change-container input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.view-change-container input[type="radio"]:checked + label {
    background-color: #777;
    color: #fff
}

.view-change-container label {
     padding:3px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
}

.view-change-container label:hover {
     background:#DDD;
}


.fc-sun.fc-widget-header,
.fc-mon.fc-widget-header,
.fc-tue.fc-widget-header,
.fc-wed.fc-widget-header,
.fc-thu.fc-widget-header,
.fc-fri.fc-widget-header,
.fc-sat.fc-widget-header {
    padding: 10px 0;
}
.filter-section{
    width: 300px;
    background: #fff;
    z-index: 10;
    border: 1px solid;
    position: absolute;
    margin-left: -275px;
}
.filter-label{
    transform: rotate(-90deg);
    text-align: center;
    position: relative;
    top: 50%;
    width: 60px;
    left: -18px;
}
#ui-datepicker-div{
   z-index: 9000 !important;
   width: 17em !important; 
   padding: .2em .2em 0 !important;
}
.ui-widget-header {
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #DCDCDC !important;
    border-radius: 1px;
    
}
.ui-dialog .ui-dialog-buttonpane{
    border-width: 0 !important;
}

.custom-datepicker{
    width: 103px;  
}
.custom-timepicker{
    width: 103px;
    margin-left: -24px;
    
}
/*.custom-toggle{
    width: 10px;
}*/
.textAlign{
    padding-right: 22px;
}
.custom-input{
    width: 30px;
}
.up-arrow, .from-up-arrow, .to-up-arrow{
    position: relative;
    top: -10px;
}
.down-arrow, .from-down-arrow, .to-down-arrow{
    position: relative;
    right: 20px;
}
.btn-modal{
    background: none;
}
.filter-container{
    width:calc(100% - 26px);
    display: inline-block;
}
.filter-label-outer{
    width: 25px;
    height: inherit;
    cursor: pointer;
    display: inline;
    float: right;
    border-left: 1px solid #ddd;
}
.filter-header{
    text-transform: capitalize;

}
.filter-header-container{
    padding: 5px 10px;
}
.filter-nav-icon{
    display: inline-block;
    height: 15px;
    width: 16px;
    background: url(../images/chevron_right.png) no-repeat;
    vertical-align: text-bottom;
}
.filter-nav-icon.open{
   background: url(../images/chevron_down.png) no-repeat; 
}
.filter-slide-icon{
    display: inline-block;
    height: 15px;
    width: 16px;
    background: url(../images/chevron_right.png) no-repeat;
}
.filter-slide-icon.open{
   background: url(../images/chevron_left.png) no-repeat; 
}
.filter-title{
    display: inline-block;
}
.option-header-container {
    padding: 3px;
    margin-left: 20px;
}
.ui-timepicker-container.ui-timepicker-standard{
    height: 200px !important;
    width: 190px !important;
    position: absolute;
    overflow-x: hidden;
    z-index: 1002 !important;
    border: 1px solid rgb(221, 221, 221);
}
div.ui-widget{
    width: 350px !important;
}
.ui-timepicker.ui-widget.ui-widget-content.ui-menu.ui-corner-all,.ui-timepicker .ui-timepicker-viewport{
    width: 170px !important;
}
.ui-timepicker-viewport .ui-menu-item{
    width: 145px !important;
}
.fc-agenda-slots td div {
    height: 160px;
}
.sof-pane,.ta-pane{
    width: 250px;
    height: 200px;
    margin-right: -260px;
    border: 1px solid #ddd;
    right: 0;
    position: absolute;
    z-index: 3;
    background: #fff; 
}
.sof-pane.open,.ta-pane.open{
    display: block;
}

.fc-event-title, .fc-event-time{
    text-align: center;
}
.teacher-container{
 
}
.subject-identifier{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin:0 3px;
}
.ta-header,.sof-header{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 38px;
}
.teacher-block{
    padding: 10px 10px 0px;
}
.student-overflow,.teacher-availability{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.loc-dropdown.btn-group .btn {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.draggable{
    z-index: 2;
    display: block;
    text-align: left;
}
.drag-teacher{
    text-align: center;
    font-weight: bold;
}
.sof-pi{
    background: #ebf5fb;
    padding: 3px;
    border: 1px solid #9acaea;
}
.sof-gi{
    padding: 3px;
    border: 1px solid #f88e50;
    background: #fedeb7;
}
.sof-gf{
    padding: 3px;
    border: 1px solid #7bc143;
    background: #dff0d5;
}
.placeholder{
    opacity: 0.5;
    display: block;
}