body{
	margin:0px;
	font-family: Segoe UI, Arial, sans-serif !important;
	height:100vh;
    color: #444444;
    font-size: 14px;
	header {
		background-color: #5C2985;
		width: 100%;
		height: 50px;
		color: white;
		text-align: center; 
		span {
			display: inline-block;
			margin: 15px 0px;
			vertical-align: middle;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold; 
		}
	}
	aside{
		width: calc(100% - 20px);
    	margin: 10px;
		.row{
			display: table;
		    width: calc(95% - 10px);
		    padding: 5px 0px;
		    margin: 0 auto;
			span{
				display: table-cell;
			}
			.first{
				width: 45%;
			}
		}
	}

	.desc{
		h1{
			font-weight: bold;
		}
		.tbleHead{

		}
	}
}

#lmr{
	position:relative;
	margin-bottom:10px;
	height:100vh;
}

h1{
    font-size: 15px;
    margin: 20px 0px 5px;

}

.heading{
	width: calc(45% - 0px);
    margin: 10px 0px;
    float: left;
}


.loading{
    width: 100%;
    background: rgba(141, 139, 139, 0.28);
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2003;
    display: block;
	> img {
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    width: 32px;
	}
}


button{
	background-color: #65635d;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    width: calc(100% - 30%);
    margin: 0 15%;
    color: white;
    border-radius: 10px;
}

.getLmr{
	width:100px;
	margin:0px;

}

.btn-article{
	padding:10px 0px;
}

[class^=by]{
	overflow: auto;
    width: 95%;
    margin:0 auto;
}

[class^=by] > article {
    position: relative;
    display: block;
    overflow: hidden;
    // padding: 15px 0px;
    border-top:1px solid #333;
    border-right:1px solid #333;
    border-left:1px solid #333;
}

[class^=by] > article:last-of-type {
    // border-bottom:1px solid #333;
}

[class^=by] span {
    display: block;
    float: left;
    padding: 10px 5px;
    text-align: left;
    border-right: 1px solid;
    height: 20px;
	font-family: Segoe\000020UI,Arial,sans\00002Dserif;
    font-size: 13px;
}

[class^=by] > article > span:last-of-type {
	border-right: 0px ;
}

.by4 span{
	width:calc(100%/4 - 11px);
}

.by5 span{
	width:calc(60%/4 - 11px);
}

.by6 span{
	width:calc(100%/6 - 11px);
}

.by5 .first-colm{
	width:calc(40% - 11px);
}


section{
	.dark{
		background: #E8AD38;
		font-weight: bold;
		color: white;

	}
}

.no-brdr{
	border-right:none !important;
	border-left:none !important;
	>span{
		border:none;	
	}
}


.brdr-btm{
	border-bottom:1px solid #333;
}

#dropdown{
	text-align: left;
    width: calc(55% - 0px);
    // margin: 0 auto;
    display: inline-block;
    float: right;
    margin:10px 0px;
	.form-control {
	    width: 120px;
	    height: 34px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    margin: 30px 0px 25px 10px;
	}
}

.ui-dialog .ui-dialog-buttonpane button{
	width:75px;
}